.loader {
	margin: var(--ax-space-40);
	display: flex;
	justify-content: center;
}

.template-body {
	background-color: var(--ax-bg-meta-purple-moderateA);
	padding: var(--ax-space-40);
}

.template-header {
	padding-bottom: var(--ax-space-24);
	padding-top: var(--ax-space-24);
	text-align: center;
}
